@media screen and (max-width: 1440px) {
  body {
    font-size: calc(10px + 6 * ((100vw - 320px) / (1440 - 320)));
  }

  #table-popular_filter,
  #table-service_filter,
  #table-list_filter {
    left: calc(-139px + -75 * ((100vw - 992px) / (1440 - 992)));
  }
}

@media screen and (max-width: 991.98px) {
  ._cont-table__tabs {
    margin-bottom: 70px;
  }

  .navbar-nav {
    padding-top: 40px;
  }

  .navbar-nav > .nav-item > .nav-link {
    margin: 20px 0 20px 0;
  }

  #table-popular_filter,
  #table-service_filter,
  #table-list_filter {
    left: -330px;
  }
  ._info_services {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  ._cont-table__statistic {
    overflow-x: scroll;
  }
  #table-popular_filter,
  #table-service_filter,
  #table-list_filter {
    left: 26px;
  }
  .form-feedback {
    padding: 26px 0 36px;
    margin-right: 0;
    margin-top: 0 ;
  }
  .accordion > .card .card-body {
    font-size: 13px;
    line-height: 22px;
  }
  ._btn-accordion {
    font-size: 17px;
    padding: 0;
  }
  .card-body {
    padding: 0;
  }
  ._c-a__info,
  ._info_services {
    padding: 21px 10px;
  }

  .info-services {
    display: block;
  }

  .i-s__info {
    display: block;
    padding-bottom: 30px;
  }

  .i-s__info img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

  .i-s__link_wrapper {
    line-height: 56px;
  }
}

@media screen and (max-width: 425px) {
  .i-s__link_wrapper {
    font-size: 14px;
    line-height: 56px;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1440px;
  }
}


@media only screen and (max-width: 1600px) and (min-width: 991.98px) {
  .i-s__link_wrapper {
    font-size: calc(11px + 8 * ((100vw - 992px) / (1440 - 992)));
  }
}