/* Шрифты */
@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
	src: local('☺'), url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'), url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/montserrat/Montserrat-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../fonts/montserrat/Montserrat-Medium.eot');
	src: local('☺'), url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'), url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype'), url('../fonts/montserrat/Montserrat-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/montserrat/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'), url('../fonts/montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/montserrat/Montserrat-Light.eot');
	src: local('☺'), url('../fonts/montserrat/Montserrat-Light.woff') format('woff'), url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype'), url('../fonts/montserrat/Montserrat-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'Montserrat-Medium';
  padding-bottom: 60px;
}

.btn-link:hover {
  text-decoration: none;
}

._btn-form:hover {
  color: #fff;
}

/* Стили svg */
.icon { 
  width: 28px; 
  height: 28px;
}

/* Стили меню  */
.navbar-nav > .nav-item > .nav-link {
  padding: 6px 15px;
  position: relative;
}

.navbar-nav > .nav-item.active .nav-link {
  color: #fff;
  background: #0887BD;
  border-radius: 20px;
  border: none;
}

.navbar-nav > .nav-item .nav-link:before {
  content: "";
  border: 1px solid #0887BD;
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .3s;
  top: 0;
  left: 0;
  opacity: 0;
}

.navbar-nav > .nav-item:hover .nav-link:before {
  opacity: 1;
}

.navbar-nav > .nav-item.active .nav-link:before {
  opacity: 0;
}

.navbar-nav > .nav-item.active .nav-link:hover {
  border: none;
}

.navbar-nav > .nav-item:not(:last-of-type) > .nav-link {
  margin-right: 24px;
}

.navbar-light .navbar-toggler {
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #039BE6;
}

/* Стили контейнеров и таблиц */
._cont-nav {
  padding-bottom: 50px;
}

._cont-nav > nav {
  padding: .5rem 0;
}

._cont-table__tabs {
  background: #039BE6;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 110px;
  box-shadow: 4px 7px 30px rgba(3, 155, 230, 0.2);
  font-family: 'Montserrat-SemiBold';
}

#table-popular_filter,
#table-service_filter,
#table-list_filter {
  position: absolute;
  top: -27px;
  left: -213px;
}

#table-service_info,
#table-list_info,
#table-popular_info {
  position: absolute;
  min-width: 240px;
}

._cont-table__tabs > .nav {
  padding-bottom: 50px;
  width: 101%;
  margin-left: -1px;
}

._cont-table__tabs > .nav > .nav-item {
  width: 33.3%;
}

.nav-tabs > li > a {
  padding: 14px 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav-tabs .nav-link.active {
  background-color: #039BE6;
  color: #fff;
}

.nav-tabs .nav-link {
  background-color: #fff;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #0887BD;
}

table thead {
  font-family: 'Montserrat-Light';
}

#table-popular tbody tr td:last-child {
  color: #FFE15A;
}

#table-service,
#table-list,
#table-popular,
#table-popular_wrapper,
#table-list_wrapper,
#table-service_wrapper,
#table-popular_wrapper th,
#table-list_wrapper th,
#table-service_wrapper th {
  color: #fff;
}

.table th, .table td {
  border-top: 0;
}

.table thead th {
  border-bottom: 0;
}

/* Правая таблица  */
._cont-table__statistic {
  background: #F3F3F3;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  padding: 15px 0 110px;
  box-shadow: 4px 7px 30px rgba(3, 155, 230, 0.2);
}

table.table-statistic th,
table.table-statistic td {
  text-align: center;
}

._cont-table__statistic > table.table-statistic > thead {
  font-family: 'Montserrat-SemiBold';
  color: #007bff;
  background: #fff;
}

._cont-table__statistic > table.table-statistic > tbody {
  background: #039BE6;
}

td.t-price {
  color: #fff;
}

td.td-reviews {
  transition: .2s ease-in-out;
  position: relative;
}

td.td-reviews a {
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .75rem;
}

td.td-reviews:hover {
  background-color: #0040ff;
  color: #fff;
  cursor: pointer;
}

td.td-reviews:hover a {
  color: #fff;
}

td span.all-reviews {
  color: #FFE15A;
}

td span.positive-reviews {
  color: #37f807;
}

/* Контейнер с аккордеоном на странице faq  */
._cont-accordion {
  padding-bottom: 100px;
}

._cont-accordion h4 {
  padding: 21px 23px;
}

/* Таблица с кол-вом доступных номеров  */
td.service-works {
  color: #FFE15A;
}

td.t-number {
  color: #fff;
}

/* Стили аккордеона  */
.accordion>.card {
  border: 0;
  background-color: transparent;
}

.accordion>.card .card-header {
  border-bottom: 0;
  background: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(3, 155, 230, 0.2);
  margin: 11px 23px;
  padding: 5px 11px;
}

.accordion>.card:last-child .card-header {
  margin: 11px 23px 54px 23px;
}

.accordion>.card .card-body {
  font-size: 18px;
}

._btn-accordion {
  font-size: 22px;
  position: relative;
}

._btn-accordion > span {
  position: absolute;
  border-radius: 50%;
  right: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0 auto auto;
  width: 20px;
  height: 20px;
  background: #0887BD;
}

._btn-accordion > span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(225deg);
  transition: .3s ease-in-out;
}

.collapsed._btn-accordion > span:after {
  top: 0;
  right: 0;
  left: 0;
  bottom: 6px;
  margin: auto;
  transform: rotate(45deg);
}


/* Стили блока информации о сервисе над отзывами  */
.info-services {
  display: flex;
  justify-content: space-between;
  padding-bottom: 43px;
}

.i-s-col {
  padding: 0 10px;
}

.i-s__info {
  display: flex;
}

.i-s__link_wrapper {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.i-s__link {
  padding-left: 35px;
}

._info-connect {
  padding: 40px 0 40px;
}

._info-connect p {
  font-size: 18px;
  font-family: 'Montserrat-Light';
}

.info-table-wrapper {
  padding: 0 10px 40px;
}

.exch_info_table .exch_act {
  background-color: #039BE6;
  border-radius: 3px;
  color: #fff;
  padding: 2px 10px;
}


/* Стили формы обратной связи  */
.form-feedback {
  padding: 26px 24px 36px;
  background: linear-gradient(179.63deg, #039BE6 -4.9%, #0887BD 76.91%);
  border-radius: 5px;
  margin-right: -15px;
  margin-top: -15px;
}

.form-feedback h4,
.form-feedback p {
  color: #fff;
  text-align: center;
}

.form-feedback .col {
  padding-bottom: 18px;
}

.form-feedback ._col-select {
  padding-bottom: 55px;
}

.form-feedback ._col-input_name {
  padding-bottom: 27px;
}

._input-name {
  background-image: url("../img/user-form.png");   
  background-repeat: no-repeat; 
  background-position: 98% 46%;
}

._input-email {
  background-image: url("../img/email-form.png");   
  background-repeat: no-repeat; 
  background-position: 98% 46%;
}

.form-control {
  border-radius: 0;
}

.form-feedback p {
  padding-bottom: 20px;
}

._btn-form {
  background: #000000;
  color: #fff;
  border-radius: 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 11px;
  font-family: 'Montserrat-Light';
}

/* Стили селекта в форме  */
.bootstrap-select > .dropdown-toggle {
  border-radius: 50px; 
  border: none;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

/* Стили чекбокса  */
.form-check {
  padding-left: 2.25rem;
}

.form-check-input {
  opacity: 0;
  z-index: -1;
}

.form-check-input + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 13px;
}

.form-check-input + label:before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: absolute;
  left: -35px;
}

.form-check-input._error + label:before {
  border: 3px solid red;
}

.form-check-input:checked + label:before {
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  background-image: url("../img/checkbox.png");
  position: absolute;
  left: -35px;
}

/* Стили datatable */
.table-striped tbody tr:nth-of-type(even) {
  background-color: #039BE6;
}

.dataTables_length,
.dataTables_info {
  padding-left: 13px;
}

/* Стили верхней панели DataTable  */
.dataTables_scrollHeadInner {
  width: 100% !important;
}

div.dataTables_scrollHead table.dataTable {
  width: 100% !important;
}

.dataTables_filter,
.dataTables_paginate {
  padding-right: 13px;
}


/* Стили отзывов и о продукте  */
.title-rewiews {
  background: #0887BD;
  color: #fff;
  padding: 5px 15px;
}

.review_add {
  padding: 15px;
}

.review_add .review_add__btn {
  cursor: pointer;

}

.review_add .review_add__btn .review_addicon {
  background: rgba(3, 155, 230, 0.57);
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  position: relative;
  margin-right: 6px;
  transition: .3s;
}

.review_add .review_add__btn .review_addicon.bulletup {
  transform: rotate(45deg);
}

.review_add .review_add__btn .review_addicon:before,
.review_add .review_add__btn .review_addicon:after {
  content: "";
  background: #fff;
  width: 2px;
  height: 10px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.review_add .review_add__btn .review_addicon:before {
  transform: rotate(90deg);
}

/* Стили полосы прокрутки  */
::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
}
  
::-webkit-scrollbar-track {
  background-color:#ecedee;
  border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 10px;
  background-color:#6dc0c8;
}
  
::-webkit-scrollbar-thumb:hover{
  background-color:#56999f;
  border-radius: 10px;
}
  
::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px
}
  
::-webkit-scrollbar{
  width: 4px;
}

/* Форма подачи отзыва  */
#review_form {
  position: absolute; 
  height: auto; 
  left: -9999px;
}

._text-input {
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
  align-items: center;
  display: flex;
}

.radiotable { 
  padding: 0 22px 23px 22px;
}

.radiotable caption { 
  padding: 0 20px 0 0;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

#tsiddesc {
  display: none;
}

#tsiddesc td {
  width: 1px;
}


/* Стили radio в форме подачи отзывов  */
.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
  font-size: 18px;
  line-height: 22px;
}

.radio-pos-start {
  color: #039BE6;
}

.radio-neu-start {
  color: rgba(0, 0, 0, 0.6);
}

.radio-neg-start {
  color: #FF4B55;
}

.form_radio_btn input[type=radio] {
	display: none;
}

.form_radio_btn label {
	display: flex;
}

.form_radio_btn label span {
	display: inline-block;
	cursor: pointer;
  margin-right: 8px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
  height: 20px;
  width: 20px;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label span {
  background-color: #fff;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  background-image: url("../img/checkbox.png");
  background-repeat: no-repeat;
  background-position: center;
}

._icon-like {
  width: 20px;
}

._icon-like__form {
  margin: -6px 20px 0px 11px;
}

._icon-like use {
  fill: rgba(0, 0, 0, 0.5);
}

._icon-like__positive use {
  fill: #0887BD;
}

._icon-like__negative use {
  fill: #FF4B55;
}

._icon-like__negative {
  transform: matrix(1, 0, 0, -1, 0, 0);
}

/* Пагинационный блок с озывами  */
/* Стили блока отзывов  */
.wrapper-review {
  padding: 40px 15px 0;
}

.review_block {
  background: #FFFFFF;
  box-shadow: 4px 7px 30px rgba(3, 155, 230, 0.2);
  border-radius: 4px;
  padding: 8px 11px;
  margin-bottom: 16px;
}

.review_header {
  position: relative;
}

.review_info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  padding-bottom: 9px;
}

.user-name {
  display: flex;
  align-items: center;
  padding-right: 60px;
}

.user-id {
  padding-right: 118px;
}

.review_header .review_icon {
  position: absolute;
  right: 12px;
}

.review_type {
  display: inline-block;
  background: url("../img/user.jpg") no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.rev_type-admin {
  background: url("../img/admin-img.png") no-repeat;
}

.review_text {
  padding: 12px 0;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat-SemiBold';
}

.review_text:nth-of-type(odd) {
  padding-left: 40px;
}

.rev-text__header {
  display: flex;
  align-items: center;
  font-family: 'Montserrat-Medium';
}

.hide {
  display: none;
}

.link {
  color: #006ead;
  cursor: hand;
  cursor: pointer;
}

.review_manage {
  display: flex;
  justify-content: flex-end;
}

.review_manage span.link {
  display: inline-block;
  margin-left: 12px;
}

.form_addComment,
.form_addComment textarea {
  width: 100%;
}

.form_addComment textarea {
  min-height: 130px;
}

#pagingBox {
  padding-left: 0;
  list-style-type: none;
}

/* Стили пагинации  */
#page_navigation {
  margin: 53px 0;
}

#page_navigation a{
	padding:3px 6px;
	border: 1px solid #dee2e6;
  background:#fff;
	color: #6c757d;
	text-decoration:none;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
}

.active_page{
	background:#337ab7 !important;
	color:white !important;
}

.previous_link {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.next_link {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}